
  select {
    padding: 0;
  }
    #bodyContainer
    > span
    > span
    > div
    > div
    > div
    > div
    > div
    > div:nth-child(1)
    > span {
    color: #54565a !important;
    text-align: center;
  }
  #bodyContainer
    > span
    > span
    > div
    > div
    > div
    > div
    > div
    > div:nth-child(1)
    > hr {
    height: 0 !important;
    visibility: hidden;
  }
  
 
 

  #bodyContainer
    > span
    > span
    > div
    > div
    > div
    > div
    > div
    > div:nth-child(2)
    > div
    > hr{
    height: 0 !important;
    visibility: hidden;
  }
  
  
  body {
    margin: 0;
  }
  
  

 
  
  

 
  
  
  #bodyContainer > span > span > div > div > div > div {
    height: unset !important;
    align-items: unset !important;
  }
  
  
  #bodyContainer
    > span
    > span
    > div
    > div
    > div
    > div
    > div
    > div
    > div
    > span
    > ul
    > li
    > span {
    background-color: unset !important;
  }
 